<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="content">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of borrowedItems">
            <div class="square">
                <p class="important">Return by: {{ item.borrow_expiration }}</p>
                <img src="assets/images/default-book-image.jpg" alt="Book Cover" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>{{ item.book.title }}</h2>
                        <p>By: {{ item.book.authors }}</p>
                        <p>ISBN: {{ item.book.id }}</p>
                    </div>
                    <button class="view-button" role="button" [routerLink]="['/main/library/book', item.book.id]" routerLinkActive="router-link-active"> View</button>
                </div>
            </div>
        </div>
    </div>
</div>

    