<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="content">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of borrowedItems">
            <div class="square">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <span class="dot5"></span>
                <span class="dot6"></span>
                <span class="dot7"></span>
                <span class="dot8"></span>
                <span class="dot9"></span>
                <p class="important">Return date: {{ item.borrow_expiration | date }}</p>
                <img src="assets/images/lib.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>{{ item.material.title }}</h2>
                        <p>Author: {{ item.material.authors}}</p>
                    </div>
                    <button class="view-button" role="button" [routerLink]="['../insideborrow', item.id]" routerLinkActive="router-link-active">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>