<div class="modal-container">
  <div class="modal-content">
    <div class="title">
      <p>Gordon College Library</p>
    </div>
    <div class="agreement">
      <p>1. GENERAL POLICY</p>
      <p>1.1. Borrowing Duration: The borrowing duration for books is (days) days.</p>
      <p>1.2. Reservation: Books can be reserved through the Student Portal or On-site in the library. A book can only be reserved once by the same student until it is returned and becomes available again.</p>
      <p>1.3. Pick-Up Window: Reserved books must be picked up within 30 minutes of the scheduled date and time. Failure to do so will result in the reservation being canceled.</p>
      <br>
      <p>2. FINES AND PENALTIES</p>
      <p>2.1. Late Return Fine: A fine will be imposed if a borrowed book is not returned on schedule. The amount of the fine is determined by the library administration and is subject to change.</p>
      <p>2.2. Exemption from Fines: If a student has a valid reason for returning a book late, no fine will be imposed. Valid reasons must be communicated to and approved by the library administration.</p>
      <br>
      <p>3. RESERVATION RULES</p>
      <p>3.1. Single Reservation: Students cannot reserve the same book multiple times consecutively. Once a book is returned, it must be available to others before the same student can reserve it again.</p>        
      <p>3.2. Queueing System: If a book is reserved by multiple students, a queueing system will be implemented. Students will be notified based on their position in the queue once the book becomes available.</p>
      <br>
      <p>4. ADMINISTRATION RIGHTS</p>
      <p>4.1. Policy Changes: The library administration reserves the right to change the fine amounts and modify the terms and conditions of the reservation policy at any time. Students will be notified of any changes through official communication channels.</p>
    </div>
  </div>
</div>
