* {
    font-family: 'Montserrat';
}
.container {
    margin-top: 60px;
}
.top {
    display: flex;
}
.col-md-4, .left,
.col-md-5, .mid,
.col-md-3, .right{
    padding: 0;
    margin: 0;
}
.long .small {
    position: relative;
    height: 248px;
    width: 357px;
    border: solid 2px var(--border-color);
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
}
.long .content {
    position: relative;
    height: 100%;
    width: 100
}
.long-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text-overlay {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.text-overlay p{
    margin-top: -10px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
.text-overlay h5{
    font-weight: bolder;
    color: #fff;
    font-size: 16px;
}
.mid {
    height: 500px;
    width: 428px;
    border: solid 2px var(--border-color);
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.mid img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.text-overlay-mid{
    position: absolute;
    top: 170px;
    left: 0;
    width: 428px;   
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.text-overlay-mid p{
    margin-top: -10px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
.text-overlay-mid h5{
    font-weight: bolder;
    color: #fff;
    font-size: 16px;
}
.box .short{
    height: 248px;
    width: 300px;
    border: solid 2px var(--border-color);
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
    margin-left: -20px;
    padding: 0;
}
.short .content2 {
    position: relative;
    height: 100%;
    width: 100
}
.box-pic {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

// bottom
.bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}
.title h5{
    font-size: 22px;
    font-weight: bolder;
    color: #4f6f52;
    border-bottom: 3px solid #4f6f52;
    padding-bottom: 20px;
}


// .details::-webkit-scrollbar {
//   width: 0;
// }
// .square-text::-webkit-scrollbar-track {
//   background: #fff 
// }
// details::-webkit-scrollbar-thumb {
//   background: #fff; 
//   border-radius: 10px;
// }
// details::-webkit-scrollbar-thumb:hover {
//   background: #fff; 
// }


.square {
    border: solid 2px var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px;
    padding: 20px;
    height: 400px;
    background-color: #ffffff;
}

.square-image {
    width: 100%;
    height: 150px;
    background-color: #f3f3f3;
    object-fit: contain;
    border-radius: 3px;
}

.square-image-big {
    width: 100%;
    height: 200px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    object-fit: contain;
    border-radius: 3px;
}

.square-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.square-text {
    text-align: justify;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 180px;
}
.square-text::-webkit-scrollbar {
  width: 0;
}
.square-text::-webkit-scrollbar-track {
  background: #fff 
}
.square-text::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}
.square-text::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

.square-text h2 {
    font-size: medium;
    font-weight: bold;
}

.square-text p {
    font-size: 12px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31A463;
    height: 300px;
    padding: 280px 500px;
  }
  