<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="title col-md-12">
        <br><br>
        <h4><i class="fas fa-bullhorn"></i> Announcement</h4>
        <hr><br>
    </div>
    <div class="rectangle" id="example1" data-toggle>
        <img src="assets/images/example7.png" alt="Image">
        <div class="details">
            <h5>Another Title</h5>
            <p>Date: 2024-03-29</p>
            <p>Author: John Doe</p>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at cursus pellentesque, nisl eros pellentesque quam, a faucibus nisl risus id nisi.</p>
        </div>
    </div>
    <div class="rectangle" id="example2" data-toggle>
        <img src="assets/images/example5.png" alt="Image">
        <div class="details">
            <h5>Another Title</h5>
            <p>Date: 2024-03-30</p>
            <p>Author: Jane Smith</p>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at cursus pellentesque, nisl eros pellentesque quam, a faucibus nisl risus id nisi.</p>
        </div>
    </div>
    <div class="rectangle" id="example3" data-toggle>
        <img src="assets/images/example6.png" alt="Image">
        <div class="details">
            <h5>Another Title</h5>
            <p>Date: 2024-03-31</p>
            <p>Author: John Doe</p>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at cursus pellentesque, nisl eros pellentesque quam, a faucibus nisl risus id nisi.</p>
        </div>
    </div>
    <div class="rectangle" id="example4" data-toggle>
        <img src="assets/images/example8.png" alt="Image">
        <div class="details">
            <h5>Another Title</h5>
            <p>Date: 2024-04-01</p>
            <p>Author: Jane Smith</p>
            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc at cursus pellentesque, nisl eros pellentesque quam, a faucibus nisl risus id nisi.</p>
        </div>
    </div>
</div>

