<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="title">
        <h2>News and Events</h2>
        <h5>Get the latest News and Updates</h5>
        <p>Latest News</p>
    </div>
    <div class="rectangle">
        <img src="assets/images/logo.png" alt="Image">
        <div class="details">
            <h5>Trump maintains lead over Biden</h5>
            <p>2024-03-29</p>
            <p>John Doe</p>
            <p>• Retired general on what needs to happen next for Ukraine to move forward in its war with Russia 1:40 <br>
                • Two Ukrainian servicemen stabbed to death in Germany, Russian national arrested <br>
                • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                • Opinion Biden needs to get real with Ukraine and Israel <br>
                • Opinion US small-town water systems are global cyber targets. Is your city next?</p>
        </div>
    </div>
</div>


<div class="content">
    <div class="title">
        <p>Other News</p>
    </div>
    <div class="row">
        <!-- Square 1 -->
        <div class="col-md-6">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image-big">
                <div class="square-content">
                    <div class="square-text">
                        <p>• Retired general on what needs to happen next for Ukraine to move forward in its war with Russia 1:40 <br>
                            • Two Ukrainian servicemen stabbed to death in Germany, Russian national arrested <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel <br>
                            • Opinion US small-town water systems are global cyber targets. Is your city next?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>Trump maintains lead over Biden</h2>
                        <p>• CNN Investigates If Trump is reelected, he plans to dismantle entire government departments <br>
                            • Trump and DeSantis meet for first conversation since Florida governor dropped out of GOP primary <br>
                            • Sanders voices support for pro-Palestinian protests as he condemns ‘all forms of bigotry’</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>US university says it will pause gifts and grants from Boeing amid campus protests</h2>
                        <p>• Sanders voices support for pro-Palestinian protests as he condemns ‘all forms of bigotry’ <br>
                            • Two Ukrainian servicemen stabbed to death in Germany, Russian national arrested <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>US university says it will pause gifts and grants from Boeing amid campus protests</h2>
                        <p>• Sanders voices support for pro-Palestinian protests as he condemns ‘all forms of bigotry’<br>
                            • Trump and DeSantis meet for first conversation since Florida governor dropped out of GOP primary <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="square">
                <h2>Russia making further gains in eastern Ukraine</h2>
                <img src="assets/images/logo.png" alt="Image" class="square-image-big">
                <div class="square-content">
                    <div class="square-text">
                        <p>• Retired general on what needs to happen next for Ukraine to move forward in its war with Russia 1:40 <br>
                            • Two Ukrainian servicemen stabbed to death in Germany, Russian national arrested <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel <br>
                            • Opinion US small-town water systems are global cyber targets. Is your city next?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>Trump maintains lead over Biden</h2>
                        <p>• CNN Investigates If Trump is reelected, he plans to dismantle entire government departments <br>
                            • Trump and DeSantis meet for first conversation since Florida governor dropped out of GOP primary <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>US university says it will pause gifts and grants from Boeing amid campus protests</h2>
                        <p>• Sanders voices support for pro-Palestinian protests as he condemns ‘all forms of bigotry’ <br>
                            • Two Ukrainian servicemen stabbed to death in Germany, Russian national arrested <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>Trump maintains lead over Biden</h2>
                        <p>• CNN Investigates If Trump is reelected, he plans to dismantle entire government departments <br>
                            • Trump and DeSantis meet for first conversation since Florida governor dropped out of GOP primary <br>
                            • Forbes journalist placed under house arrest for allegedly spreading fake news about Russian army <br>
                            • Opinion Biden needs to get real with Ukraine and Israel </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="square">
                <img src="assets/images/logo.png" alt="Image" class="square-image">
                <div class="square-content">
                    <div class="square-text">
                        <h2>US university says it will pause gifts and grants from Boeing amid campus protests</h2>
                        <p>• Sanders voices support for pro-Palestinian protests as he condemns ‘all forms of bigotry’<br>
                            • Trump and DeSantis meet for first conversation since Florida governor dropped out of GOP primary <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


