@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  font-family: 'Montserrat';
}
.rectangle{
  padding: 20px;
  border: solid 2px var(--border-color);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in;
  cursor: pointer;
  width: 97%;
  margin-bottom: 22px;
  margin-left: 16px;
  height: 100px;
  position: relative;
}
.rectangle:hover {
  transform: scale(1.02);
  transition: all .2s ease-in;
}

.details {
  z-index: 999;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 50px;
  position: relative;
  background-color: #fff;
}
.details p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.details span {
  font-weight: bolder;
}
.pagination {
  display: flex;
  justify-content: right;
  margin-top: 19.85px;
}
.details::-webkit-scrollbar {
  width: 0;
}
.details::-webkit-scrollbar-track {
  background: #fff 
}
.details::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}
.details::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bolder;
  color: #415b44;
  margin-top: 20px;
}
.pagination i {
  cursor: pointer;
}
.pagination p {
  margin: 0 30px;
}
.pagination .kaliwa{
  margin-right: 40px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #415b44;
  border-radius: 3px solid #415b44;
  padding: 220px 500px 270px 500px; 
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
.btn {
  font-size: 12px;
  padding: 10px 20px;
  background-color: #415b44;
}
.fixed-width {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu {
  display: none;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 12px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #415b44;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #415b44;
}
.dropdown-item:hover{
  color: #fff;
}
.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown[aria-expanded="true"] .dropdown-menu {
  display: block;
}
.row{
  display: flex;
  justify-content: space-between;
}
.input-group{
  margin-top: 20px;
  border: 2px solid #415b44;
  border-radius: 5px;
}
.input-group-append .btn {
  color: black;
  border-color: 1px solid #415b44;
}
.input-group-append .btn:hover {
  color: white;
  border-color: 1px solid #415b44;
}
.form-control:focus {
  border-color: 1px solid #415b44;
}
@media screen and (max-width: 768px ){
  .rectangle{
    width: 90%;
  }
  
.loading-spinner {
  display: none; 
}
.details p {
  font-size: 10px
}
  .pagination {
    padding-bottom: 20px;
  }
.pagination i {
  font-size: 10px;
}
.pagination p {
  margin: 0 10px;
  font-size: 10px;
}
.pagination .kaliwa{
  margin-right: 20px;
}

}