.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; 
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.nav-link {
    color: #333;
}
.nav-link.active {
    color: #31A463;
}
.nav-link:hover {
    color: #31A463;
}
.nav-link[href="#logout"] {
color: #dc3545;
}

.nav-link[href="#logout"]:hover {
color: #c82333;
}
.navbar-custom {
    height: 1000px; /* Adjust the height as needed */
   }
   