<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div class="container">
    <div class="header">
        <img src="assets/images/lib.png" alt="Image">
        <div class="center">
            <h4>Gordon College</h4>
            <h5>Olongapo City</h5>
            <h4>Borrower's Card</h4>
        </div>
        <!-- Make this profile of student -->
        <img class="picture" src="assets/images/lib.png" alt="Image">
    </div>

    <div class="col2">
        <div class="title">
            <p>Student Information</p>
        </div>
        <div class="info-container">
            <div class="cont1">
                <p><span>Full Name: </span>{{student.first_name}} {{student.middle_name}} {{student.last_name}}</p>
                <p><span>Address: </span>{{student.main_address}}</p>
            </div>
            <div class="cont2">
                <p><span>Student ID: </span>{{student.id}}</p>
                <p><span>Course: </span>{{student.department}}</p>
            </div>
        </div>
    </div>

    <table class="whole book-return-table">
        <thead>
            <tr>
                <th>Borrowed Date</th>
                <th>Time</th>
                <th>Book Title</th>
                <th>Returned To</th>
                <th>Returned Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of displayedBooks">
                <td>{{ book.authors }}</td>
                <td>{{ book.time }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.returnedTo }}</td>
                <td>{{ book.returnedDate }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1"><i class="fas fa-chevron-left"></i></button>
        <span>{{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>