<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="container">
  <div class="row">
    <!-- Buttons Container -->
    <div class="buttons-container d-flex">
        <ng-container *ngFor="let category of projectCategories">
            <button *ngIf="visibleButtons[category]" 
                    (click)="handleButtonClick(category)" 
                    class="btn btn-icon col-md-3" [class.router-link-active]="selectedCategory === category">{{ category }}</button>
        </ng-container>
        <div class="col-md-6">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                  <button class="btn btn-outline-success" type="button"><i class="fa fa-search"></i></button>
              </div>
          </div>
        </div>
    </div>
</div>

  
    <!-- Selected Category Projects -->
    <div *ngIf="selectedCategory" class="row">
      <div class="project col-md-12">
        <h3 class="category">Projects Category: {{ selectedCategory }}</h3>
        <div *ngIf="projects.length > 0" class="row">
          <div class="col-md-4" *ngFor="let project of projects">
            <div class="square">
              <!-- Assuming you have a logo property in your project object -->
              <img [src]="project.logo" alt="Image" class="square-image">
              <div class="square-content">
                <div class="square-text">
                  <p>{{ project.id }}</p>
                  <h2>{{ selectedCategory }}</h2>
                  <p>{{ project.author }}</p>
                </div>
                <!-- View button to open modal -->
                <button class="view-button" (click)="openProjectModal(project)">View</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="projects.length === 0">No projects available for this category.</div>
      </div>
    </div>
    <app-modal [isVisible]="isVisible" [selectedProject]="selectedProject" (closeModal)="closeModal()"></app-modal>
</div>

<div class="connection">
    <router-outlet></router-outlet>
</div>

