.container1{
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.input-group-append .btn {
    color: black;
    background-color: #28a745;
    border-color: #28a745;
}

.input-group-append .btn:hover {
    color: white;
    background-color: #31A463;
    border-color: #31A463;
}
.custom-mt-50 {
    margin-top: 30px;
}

.form-control:focus {
    border-color: #31A463;
    box-shadow: none;
    outline: none;
}

.square {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.square-image {
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.square-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.square-text {
    text-align: left;
}

.square-button {
    background-color: #31A463; /* Green background */
    color: #fff; /* White text */
    border: none;
}

.square-button:hover {
    background-color: #28a745; /* Slightly darker green on hover */
}

.square:hover {
    border-color: #31A463; /* Change border color to green on hover */
}
.square-text h5, .square-text p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.square:hover .square-text h5,
.square:hover .square-text p {
    color: #31A463; /* Green text color on hover */
}

.button-52 {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 5px 5px 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-52:after {
  content: "";
  background-color: #31A463;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.button-52:hover:after {
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .button-52 {
    padding: 6px 15px 6px;
  }
}