* {
  font-family: 'Montserrat';
}

.header {
  background-color: #4f6f52;
  padding: 20px 0 10px 20px;
}

.header h5 {
  font-size: 16px;
  color: #ffffff;
  font-weight: bolder;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-right: 0;
}

button {
  background-color: #4f6f52;
  color: white;
  float: right;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  width: 100px;
  letter-spacing: 1.5px;
  margin: 10px;
}

button:hover {
  background-color: #4f6f52;
}

button:disabled,
button.disabled {
  cursor: not-allowed;
  opacity: 0.6; // Optional: to visually indicate that the button is disabled
}

.date {
  border: none;
  width: 97%;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #F6F6F6;
  border-radius: 5px;
  outline: none;
  color: #31A463;
}

input[type=file] {
  background-color: #F6F6F6;
  border: none;
  width: 100%;
}

input[type="file"]::file-selector-button {
  letter-spacing: 0.5px;
  font-size: 14px;
  border-top-left-radius: 1px;
  font-family: 'Poppins';
  color: #ffffff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #31A463;
  border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  transition: background-color 200ms;
  left: 10px;
}

.txt_field {
  display: inline-block;
  width: calc(50% - 20px);
  margin-right: 20px;
}

.txt_field:nth-child(even) {
  margin-right: 0;
}

.txt_field .uploadlabel {
  position: absolute;
  top: 0;
  margin-top: -20px;
  font-size: 8px;
  letter-spacing: 0.5px;
  color: #777777;
  position: absolute;
  left: 10px;
}

// SCROLLBAR 
.details-content::-webkit-scrollbar {
  width: 7px;
}

.details-content::-webkit-scrollbar-thumb {
  background-color: var(--table-border);
  border-radius: 5px;
}

.details-content::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  margin-top: 90px;
  margin-bottom: 10px;
}

.details-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--table-border2);
}

.labelline {
  margin-bottom: 10px;
}

form .txt_field1 {
  border-bottom: 2px solid #777777;
  padding-bottom: 10px;
  background-color: #F6F6F6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 62px;
  width: 240px;
  display: inline-grid;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  top: -27px;

}

.txt_field1 .labelline1 {
  margin-left: 10px;
  left: 14px;
  color: #777777;
  font-size: 12px;
}

form .txt_field4 {
  position: relative;
  border-bottom: 2px solid #777777;
  margin: 15px 10px 15px 10px;
  width: 240px;
  display: inline-block;
}

.txt_field4 .inputtxt4 {
  width: 100%;
  display: block;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  font-size: 15px;
  border: none;
  background-color: #F6F6F6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
}

.txt_field4 .labelline4 {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #777777;
  transform: translateY(-50%);
  font-size: 15px;
  pointer-events: none;
  transition: .3s;
}

.txt_field4 .labelline4 {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 12px;
  color: #4f6f52;
  letter-spacing: 0.5px;
}

.txt_field4 span::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #4f6f52;
  transition: .3s;
}

.inputtxt4:not(:focus)+span::before {
  background: #777777;
}

.txt_field4 .inputtxt4:hover {
  background-color: #ececec;
}

.txt_field4 .inputtxt4:valid~.labelline4 {
  top: 17px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #777777;
}

.txt_field4 .inputtxt4:focus~.labelline4 {
  top: 17px;
  font-size: 12px;
  color: #4f6f52;
  letter-spacing: 0.5px;
}

.txt_field4 .inputtxt4:focus~span::before,
.txt_field4 .inputtxt4:valid~span::before {
  width: 100%;
}

form .txt_field5 {
  position: relative;
  border-bottom: 2px solid #777777;
  margin: 15px 10px 15px 10px;
  width: 500px;
  display: inline-block;
}

.txt_field5 .inputtxt5 {
  width: 100%;
  display: block;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  font-size: 15px;
  border: none;
  background-color: #F6F6F6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
}

.txt_field5 .labelline5 {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #777777;
  transform: translateY(-50%);
  font-size: 15px;
  pointer-events: none;
  transition: .3s;
}

.txt_field5 .labelline5 {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 12px;
  color: #4f6f52;
  letter-spacing: 0.5px;
}

.txt_field5 span::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #4f6f52;
  transition: .3s;
}

.inputtxt5:not(:focus)+span::before {
  background: #777777;
}

.txt_field5 .inputtxt5:hover {
  background-color: #ececec;
}

.txt_field5 .inputtxt5:valid~.labelline4 {
  top: 17px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #777777;
}

.txt_field5 .inputtxt5:focus~.labelline5 {
  top: 17px;
  font-size: 12px;
  color: #4f6f52;
  letter-spacing: 0.5px;
}

.txt_field5 .inputtxt5:focus~span::before,
.txt_field5 .inputtxt5:valid~span::before {
  width: 100%;
}

// Check box
.control a {
  color: #376448;
  font-weight: 400;
}

.control a:hover {
  font-weight: bolder;
}

.checkbox-wrapper-21 .control {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 13px;
  margin-top: -15px;
}

.checkbox-wrapper-21 .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-wrapper-21 .control__indicator {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 16px;
  width: 16px;
  background: #e6e6e6;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.checkbox-wrapper-21 .control--radio .control__indicator {
  border-radius: 50%;
}

.checkbox-wrapper-21 .control:hover input~.control__indicator,
.checkbox-wrapper-21 .control input:focus~.control__indicator {
  background: #ccc;
}

.checkbox-wrapper-21 .control input:checked~.control__indicator {
  background: #376448;
}

.checkbox-wrapper-21 .control:hover input:not([disabled]):checked~.control__indicator,
.checkbox-wrapper-21 .control input:checked:focus~.control__indicator {
  background: #376448;
}

.checkbox-wrapper-21 .control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.checkbox-wrapper-21 .control__indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.checkbox-wrapper-21 .control input:checked~.control__indicator:after {
  display: block;
}

.checkbox-wrapper-21 .control--checkbox .control__indicator:after {
  top: 0;
  left: 4.5px;
  width: 4px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-wrapper-21 .control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.checkbox-wrapper-21 .control--radio .control__indicator:after {
  left: 5px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.checkbox-wrapper-21 .control--radio input:disabled~.control__indicator:after {
  background: #7b7b7b;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 10px 0 0 20px;
    width: 300px;
  }

  .header h5 {
    font-size: 12px;
  }

  form {
    height: 500px;
  }

  form .txt_field5 {
    margin: 10px 10px 10px 10px;
    width: 280px;
  }

  .txt_field5 .inputtxt5 {
    height: 50px;
    font-size: 12px;
  }

  .txt_field5 .labelline5 {
    font-size: 12px;
  }

  .txt_field5 .labelline5 {
    font-size: 12px;
  }

  .txt_field5 span::before {
    top: 50px;
  }

  form .txt_field4 {
    margin: 10px 10px 10px 10px;
    width: 280px;
  }

  .txt_field4 .inputtxt4 {
    height: 50px;
    font-size: 12px;
  }

  .txt_field4 .labelline4 {
    font-size: 12px;
  }

  .txt_field4 .labelline4 {
    font-size: 12px;
  }

  .txt_field4 span::before {
    top: 50px;
  }

  form .txt_field1 {
    margin: 35px 10px 10px 10px;
    width: 280px;
    height: 50px;
  }

  .txt_field1 .labelline1 {
    font-size: 12px;
  }

  .date {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
  }

  button {
    padding: 10px 10px;
    border-radius: 3px;
    margin: 0 10px 10px;
    font-size: 12px;
  }
}
