<div class="header">
  <h5>Reservation Form</h5>
</div>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="txt_field4">
    <input class="inputtxt4" type="text" formControlName="fullName" readonly>
    <span></span>
    <div class="labelline4">Full Name</div>
  </div>
  <div class="txt_field4">
    <input class="inputtxt4" type="text" formControlName="id" readonly>
    <span></span>
    <div class="labelline4">Student Number</div>
  </div>
  <br>
  <div class="txt_field4">
    <input class="inputtxt4" type="text" formControlName="department" readonly>
    <span></span>
    <div class="labelline4">Department</div>
  </div>
  <div class="txt_field4">
    <input class="inputtxt4" type="text" formControlName="patronType" readonly>
    <span></span>
    <div class="labelline4">Patron Type</div>
  </div>
  <br>
  <div class="txt_field5">
    <input class="inputtxt5" type="text" formControlName="title" readonly>
    <span></span>
    <div class="labelline5">Title</div>
  </div>
  <br>
  <div class="txt_field5">
    <input class="inputtxt5" type="text" formControlName="authors" readonly>
    <span></span>
    <div class="labelline5">Author</div>
  </div>
  <br>
  <div class="txt_field4">
    <input class="inputtxt4" type="text" formControlName="numberOfBooks">
    <span></span>
    <div class="labelline4">Number of Books</div>
  </div>
  <div class="txt_field4">
    <input class="inputtxt4" type="text" formControlName="fine" readonly>
    <span></span>
    <div class="labelline4">Fines</div>
  </div>
  <br>
  <div class="txt_field1">
    <div class="labelline1">Date Request</div>
    <span></span>
    <input type="date" class="date" formControlName="start_date">
  </div>
  <div class="txt_field1">
    <div class="labelline1">Date of Expiration</div>
    <span></span>
    <input type="date" class="date" formControlName="end_date">
  </div>
  <div class="button-container">
    <button type="submit" class="cancel-btn2">Reserve</button>
  </div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>