<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reservation Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="studentNumber">Student Number</label>
                  <input type="text" class="form-control" value="202110094" readonly>
                </div>
                <div class="col-md-4">
                  <label for="fullName">Full Name</label>
                  <input type="text" class="form-control" value="Angel Mae Gaña" readonly>
                </div>
                <div class="col-md-4">
                  <label for="department">Department</label>
                  <input type="text" class="form-control" value="CCS" readonly>
                </div>
                <div class="form-row col-md-4">
                  <label for="patronType">Patron type</label>
                  <input type="text" class="form-control" value="Student" readonly>
                </div>
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-15">
                <label for="title">Title</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="author">Author</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="location">Location</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="dateRequest">Date Request</label>
                <input type="date" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="numofBooks">Number of Books</label>
                <input type="text" class="form-control" value="1/5" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="dateofExpiration">Date of Expiration</label>
                <input type="date" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="fine">Fine</label>
                <input type="text" class="form-control" value="100" readonly>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
