* {
  font-family: 'Montserrat';
}
.btn-icon {
  padding: 8px 5px 8px 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  color: #31A463;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 2px solid #415b44;
  margin-right: 10px;
}
.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
  background-color: #31A463;
  color: #fff;
}
.square {
  border: solid 2px var(--border-color);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: all .2s ease-in;
  height: 255px;
  overflow: hidden;
  width: 348px;
  margin-right: -14px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
}
.square:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}  
.square .dot1 {
  position: absolute;
  height: 40px;
  width: 430px;
  background-color: #415b44;
  display: inline-block;
  z-index: 50;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot2 {
  position: absolute;
  height: 40px;
  width: 430px;
  background-color: #49664d;
  display: inline-block;
  z-index: 45;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot3 {
  position: absolute;
  height: 50px;
  width: 430px;
  background-color: #517255;
  display: inline-block;
  z-index: 40;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot4 {
  position: absolute;
  height: 60px;
  width: 430px;
  background-color: #5a7d5e;
  display: inline-block;
  z-index: 35;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot5 {
  position: absolute;
  height: 70px;
  width: 430px;
  background-color: #628966;
  display: inline-block;
  z-index: 30;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot6 {
  position: absolute;
  height: 80px;
  width: 430px;
  background-color: #6a946f;
  display: inline-block;
  z-index: 25;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot7 {
  position: absolute;
  height: 90px;
  width: 430px;
  background-color: #759d7a;
  display: inline-block;
  z-index: 20;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot8 {
  position: absolute;
  height: 100px;
  width: 430px;
  background-color: #81a585;
  display: inline-block;
  z-index: 15;
  margin-left: -20px;
  margin-top: -20px;
}
.square .dot9 {
  position: absolute;
  height: 110px;
  width: 430px;
  background-color: #8cad90;
  display: inline-block;
  z-index: 10;
  margin-left: -20px;
  margin-top: -20px;
}
.square-image {
  width: 100%;
  height: 110px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
  z-index: 999;
  position: relative;
}
.square-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  
.square-text {
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
}
.square-text::-webkit-scrollbar {
  width: 0;
}

.square-text::-webkit-scrollbar-track {
  background: #fff 
}

.square-text::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}

.square-text::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
.square h5 {
  font-size: small;
  font-weight: bold;
}
.square p {
  font-size: 10px;
  margin-top: -15px;
  margin-right: 25px;
}
.view-button {
  background-color: #415b44;
  border: 2px solid;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px 15px;
  text-transform: none;
  font-size: small;
  cursor: pointer;
}
.view-button:hover {
  box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
  transform: translate(0px, -2px);
  background: white;
  color: #415b44;
  cursor: pointer;
  text-decoration: none;
  height: 12%;
}
.project h3{
  color: #31a463;
  margin: 20px 0 20px 0;
}
.dropdown-container .option{
  text-align: center;
  padding: 10px 40px;
}
.dropdown-container select{
  background-color: #415b44;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  font-size: 12px;
  height: 40px;
}
.dropdown-container select:hover{
  background-color: #415b44;
  color: #16181b;

}
.pagination {
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bolder;
  color: #415b44;
  margin-top: 20px;
  margin-right: -14px;
}
.pagination i {
  cursor: pointer;
}
.pagination p {
  margin: 0 30px;
}
.pagination .kaliwa{
  margin-right: 40px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #415b44;
  height: 300px;
  padding: 215px 500px 285px 500px;
}
.row{
  display: flex;
  justify-content: space-between;
}
.input-group{
  margin-top: 20px;
  border: 2px solid #415b44;
  border-radius: 5px;
  width: 350px;
}
@media screen and (max-width: 768px ){
  .input-group{
    width: 286px;
    border-radius: 3px;
  }
  .square{
    width: 285.2px;
  }
  .loading-spinner {
    display: none; 
  } 
  .pagination {
    padding-bottom: 20px;
  }
.pagination i {
  font-size: 10px;
  margin-right: -15px;
}
.pagination p {
  margin: 0 10px;
  font-size: 10px;
}
.pagination .kaliwa{
  margin-right: 20px;
}
}