*{
  font-family: 'Montserrat';
}
.content{
  margin-top: 20px;
}
.square {
  border: solid 2px var(--border-color);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  transform: scale(1);
  transition: all .2s ease-in;
  height: 260px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.square:hover{
  transform: scale(1.05);
  transition: all .2s ease-in;
}
.square p{
  font-size: 12px;
  
}
.square .approved{
  background-color: rgba(0, 255, 106, 0.4);
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(0, 255, 85);
  width: 160px;
  font-size: 10px;
  position: relative;
  font-weight: bolder;
  z-index: 999;
  margin-top: -10px;
}
.square .pending{
  background-color: rgba(255, 215, 0, 0.4);
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(227, 227, 62);
  width: 160px;
  font-size: 10px;
  position: relative;
  font-weight: bolder;
  z-index: 999;
  margin-top: -10px;
}
.square .dot1 {
  position: absolute;
  height: 40px;
  width: 530px;
  background-color: #415b44;
  display: inline-block;
  z-index: 50;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot2 {
  position: absolute;
  height: 40px;
  width: 430px;
  background-color: #49664d;
  display: inline-block;
  z-index: 45;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot3 {
  position: absolute;
  height: 50px;
  width: 430px;
  background-color: #517255;
  display: inline-block;
  z-index: 40;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot4 {
  position: absolute;
  height: 60px;
  width: 430px;
  background-color: #5a7d5e;
  display: inline-block;
  z-index: 35;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot5 {
  position: absolute;
  height: 70px;
  width: 430px;
  background-color: #628966;
  display: inline-block;
  z-index: 30;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot6 {
  position: absolute;
  height: 80px;
  width: 430px;
  background-color: #6a946f;
  display: inline-block;
  z-index: 25;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot7 {
  position: absolute;
  height: 90px;
  width: 430px;
  background-color: #759d7a;
  display: inline-block;
  z-index: 20;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot8 {
  position: absolute;
  height: 100px;
  width: 430px;
  background-color: #81a585;
  display: inline-block;
  z-index: 15;
  margin-left: -180px;
  margin-top: -20px;
}
.square .dot9 {
  position: absolute;
  height: 110px;
  width: 430px;
  background-color: #8cad90;
  display: inline-block;
  z-index: 10;
  margin-left: -180px;
  margin-top: -20px;
}
.square-image {
  width: 100%;
  height: 90px;
  background-color: #f3f3f3;
  border-radius: 3px;
  margin-bottom: 10px; 
  object-fit: cover;
  z-index: 999;
  position: relative;
}
.square-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.square-content::-webkit-scrollbar {
  width: 0;
}
.square-content::-webkit-scrollbar-track {
  background: #fff 
}
.square-content::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}
.square-content::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
.square-text {
  text-align: left;
}
.square-text h2{
  font-size: small;
  font-weight: bold;
}
.square-text p{
  font-size: 10px;
  margin-top: -15px;
}
.square .queue{
  color: red;
}
.view-button {
  background-color: #415b44;
  border: 2px solid;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px 15px;
  text-transform:none;
  font-size: small;
  font-family: "Poppins";
  cursor: pointer;
}
.view-button:hover {
  box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
  transform: translate(0px, -2px);
  background: white;
  color: #31A463;
  cursor: pointer;
  text-decoration: none;
  height: 12%;
}
@media screen and (max-width: 768px) {
  .square{
    width: 280px;
  }
  .col-md-4{
    padding: 0;
    margin: 0;
  }
  .square .important{
    width: 140px;
    font-size: 8px;
  }
}