<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="content">
  <div class="row">
    <div class="col-md-4" *ngFor="let reservation of reservations">
      <div class="square">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
        <span class="dot4"></span>
        <span class="dot5"></span>
        <span class="dot6"></span>
        <span class="dot7"></span>
        <span class="dot8"></span>
        <span class="dot9"></span>
        <p class="approved"> Approved </p>
        <img src="assets/images/lib.png" alt="Image" class="square-image">
        <div class="square-content">
          <div class="square-text">
            <h2>{{ reservation.book?.title || 'Title Not Available' }}</h2>
            <p>Authors: {{ reservation.book?.authors || 'Not available' }}</p>
            <p class="queue">Queue position: Number 12</p>
          </div>
          <button class="view-button" role="button" routerLinkActive="router-link-active">View</button>
        </div>
      </div>
    </div>
  </div>  
</div>

