.content{
  padding: 40px 40px 0 60px;
  border-top: 3px solid #ccc;
  margin-top: 20px;
}
.square {
  border: solid 2px var(--border-color);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  transform: scale(1);
  transition: all .2s ease-in;
}

.square:hover{
transform: scale(1.05);
transition: all .2s ease-in;
}

.square-image {
  width: 100%;
  height: 150px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 10px; 
  object-fit: contain;
}
.square-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.square-text {
  text-align: left;
}
.square-text h2{
  font-size: medium;
}
.square-text p{
  font-size: 12px;
}
.square-text h2, .square-text p {
  margin: 0;
  padding: 0;
}
.view-button {
  background-color: #31A463;
  border: 2px solid; /* Solid border */
  border-radius: 5px; /* Rounded corners */
  color: #ffffff; /* White text */
  padding: 3px 15px;
  text-transform:none;
  font-size: small;
  font-family: "Poppins";
  cursor: pointer;

}
.view-button:hover {
  box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
  transform: translate(0px, -2px);
  background: white;
  color: #31A463;
  cursor: pointer;
  text-decoration: none;
  height: 12%;
}