@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat';
}

.rectangle {
  display: flex;
  align-items: center;
  padding: 20px;
  border: solid 2px var(--border-color);
  background-color: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in;
  cursor: pointer;
  width: 97%;
  margin-bottom: 22px;
  margin-left: 16px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rectangle::-webkit-scrollbar {
  width: 0;
}

.rectangle::-webkit-scrollbar-track {
  background: #fff 
}

.rectangle::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}

.rectangle::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

.rectangle:hover {
  transform: scale(1.02);
  transition: all .2s ease-in;
}

.rectangle .details {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

.details .left{
  margin-right: 20px;
}

.details .right{
  float: right;
}

.rectangle .details h5 {
  margin: 0;
  font-weight: bolder;

}

.rectangle .details p {
  margin: 0;
  margin-bottom: 1px;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: right;
  margin-top: 19.85px;

}
.pagination span {
  font-size: 14px;
  background-color: #285a43;
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.pagination button {
  background-color: #31a463;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button.active {
  background-color: #285a43;
}

.pagination button[disabled] {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: #31A463;
  border-radius: 3px solid #31A463;
  padding: 220px 500px 270px 500px; 
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.btn {
  font-size: 12px;
  padding: 10px 20px;
  background-color: #31A463;
}

.fixed-width {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu {
  display: none;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 12px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #31A463;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #31a463;
}
.dropdown-item:hover{
  color: #fff;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown[aria-expanded="true"] .dropdown-menu {
  display: block;
}
.row{
  display: flex;
  justify-content: space-between;
}
.input-group{
  margin-top: 20px;
  border: 2px solid #31A463;
  border-radius: 5px;
}

.input-group-append .btn {
  color: black;
  border-color: 1px solid #31A463;
}
.input-group-append .btn:hover {
  color: white;
  border-color: 1px solid #31A463;
}
.form-control:focus {
  border-color: 1px solid #31A463;
}