*{
    font-family: 'Montserrat';
  }
.content{
    padding: 40px 40px 0 60px;
  }
.rectangle {
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 2px var(--border-color);
    background-color: #f7f7f7;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: all .2s ease-in;
    cursor: pointer;
    width: 92%;
}
.rectangle:hover {
    transform: scale(1.02);
    transition: all .2s ease-in;
}
.rectangle .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}
.details .date{
    float: right;
}
.rectangle .details h5 {
    margin: 0;
    font-weight: bolder;
}
.rectangle .details p {
    margin: 0;
    margin-bottom: 1px;
    
}

@media (max-width: 768px) {
    .rectangle img {
        width: 80px;
        height: 80px;
    }
}
.filter select{
    padding: 10px 20px 10px 20px;
    color: green;
    border: 2px solid #31a463;
    margin-left: 33px;
    cursor: pointer;
    border-radius: 3px;
}

.filter select:hover{
    background-color: #31a463;
    color: #fff;
}

.filter option{
    padding: 10px 20px 10px 20px;
}