<div class="content">
<div class="table-responsive container">
    <div class="row">
        <div class="title col-md-12">
            <br><br>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th class="number">#</th>
                <th>Type</th>
                <th>Title</th>
                <th>Borrowed Date</th>
                <th>Date Returning</th>
                <th class="fine">Fined</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Book</td>
                <td>Multimedia Computing</td>
                <td>2024-1-12</td>
                <td>2024-1-17</td>
                <td class="fine">$ 00.00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Book</td>
                <td>Information Technology</td>
                <td>2024-12-19</td>
                <td>2024-12-24</td>
                <td class="fine">₱ 120.00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Book</td>
                <td>Salt Bae Dalanan</td>
                <td>2022-5-18</td>
                <td>2022-5-23</td>
                <td class="fine">₱ 00.00</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Book</td>
                <td>Tyga x Moby Collab</td>
                <td>2024-7-28</td>
                <td>2024-8-3</td>
                <td class="fine">₱ 90.00</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Book</td>
                <td>Methodology</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td class="fine">₱ 40.00</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Book</td>
                <td>UI / UX Design</td>
                <td>2021-9-1</td>
                <td>2021-9-6</td>
                <td class="fine">₱ 00.00</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Book</td>
                <td>Hardware / Software</td>
                <td>2023-2-13</td>
                <td>2023-2-18</td>
                <td class="fine">₱ 00.00</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Book</td>
                <td>Networking</td>
                <td>2021-4-12</td>
                <td>2021-4-17</td>
                <td class="fine">₱ 30.00</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Book</td>
                <td>UI Design</td>
                <td>2024-2-1</td>
                <td>2024-2-6</td>
                <td class="fine">₱ 00.00</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Book</td>
                <td>Project Development</td>
                <td>2023-03-22</td>
                <td>2023-03-27</td>
                <td class="fine">₱ 120.00</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<br>