<div class="content">
<div class="table-responsive container">
    <div class="row">
        <div class="title col-md-12">
            <br><br>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Borrowed Date</th>
                <th>Date Returning</th>
                <th>Fined</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Book</td>
                <td>Book A</td>
                <td>2024-01-01</td>
                <td>2024-01-31</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Book</td>
                <td>Book B</td>
                <td>2024-02-01</td>
                <td>2024-02-28</td>
                <td>$0</td>
            </tr>
        </tbody>
    </table>
</div>
</div>