<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div class="container">
    <div class="col2">
        <div class="title">
            <p class="header">Student Information</p>
        </div>
        <div class="info-container">
            <div class="cont1">
                <p><span>Full Name: </span>{{ user.first_name }} {{ user.last_name }}</p>
                <p><span>Address: </span>{{ user.main_address }}</p>
            </div>
            <div class="cont2">
                <p><span>Student ID: </span>{{ user?.id }}</p>
                <p><span>Course: </span>{{ user.department.department }}</p>
            </div>
        </div>
    </div>
    <div class="col2">
        <hr>
        <div class="code">
            <img src="assets/images/code.png" alt="Image">
            <p><span>My QRcode</span><br>
                This page contains a QR Code unique for you. 
                You may use this QR Code to use in any 
                Gordon College in-house application that 
                requires scanning of QR Code.
            </p>
        </div>
    </div>
</div>