<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div class="container">
    <div class="col2">
        <div class="title">
            <p class="header">Student Information</p>
            <p class="back" (click)="closeModal()">X</p>
        </div>
        <div class="info-container">
            <div class="cont1">
                <p><span>Full Name: </span>Bueno, Ryan Joshua E.</p>
                <p><span>Address: </span>Murphy 16 Olongapo City</p>
            </div>
            <div class="cont2">
                <p><span>Student ID: </span>20211004</p>
                <p><span>Course: </span>CCS</p>
            </div>
        </div>
    </div>
    <div class="col2">
        <hr>
        <div class="code">
            <img src="assets/images/code.png" alt="Image">
            <p><span>My QRcode</span><br>
                This page contains a QR Code unique for you. 
                You may use this QR Code to use in any 
                Gordon College in-house application that 
                requires scanning of QR Code.
            </p>
        </div>
    </div>
</div>