*{
    font-family: 'Montserrat';
}
.row{
    justify-content: center;
}
.btn-icon {
    padding: 7px 8px 8px 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: #31A463;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 2px solid #31A463;
    border-radius: 3px;
}
.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
    background-color: #31A463;
    color: #fff;
}

.connectside {
    padding: 2% 0 0 15%;
}