.container {
    padding-top: 20px 20px 0 20px;
}
.row.buttons {
    margin-top: 40px;
    justify-content: center;
    border-bottom: 3px solid #31A463;
}
.btn-icon {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top: 3px solid #31A463;
    border-left: 3px solid #31A463;
    border-right: 3px solid #31A463;
}
.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
    background-color: #31A463;
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.buttons .col-md-4{
    padding: 0;
}
.input-group{
    margin-left: 520px;
}
.input-group-append .btn {
    color: black;
    background-color: #31A463;
    border-color: #31A463;
}
.input-group-append .btn:hover {
    color: white;
    background-color: #31A463;
    border-color: #31A463;
}
.form-control:focus {
    border-color: #31A463;
    box-shadow: none;
    outline: none;
}
