.btn-icon {
    padding: 7px 10px 10px 10px;
    font-size: 12px;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 2px solid #31A463;
    transition: background-color 0.3s ease;
}
.btn-icon:active, .btn-icon:focus {
    background-color: #31A463;
    border-color: #31A463;
    color: #fff;
}
.btn-icon i {
    margin-right: 5px;
}
.input-group-append .btn {
    color: black;
    background-color: #28a745;
    border-color: #28a745;
}
.input-group-append .btn:hover {
    color: white;
    background-color: #31A463;
    border-color: #31A463;
}
.custom-mt-50 {
    margin-top: 50px;
}
.form-control:focus {
    border-color: #31A463;
    box-shadow: none;
    outline: none;
}
.container{
    padding: 40px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
