/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
html, body{ 
    height: 100%;
    width: 100%;
}
body{ 
    margin: 0; 
    font-family: 'Montserrat';
}
.mat-typography{
    background-color: #f5efe6;
}
@media screen and (max-width: 768px ){
    html, body {
        padding: 0;
        margin: 0;
    }
}
