* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.container {
    position: relative;
    max-width: 621px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 33px;
}

.container header {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    color: #31A463;
    margin-bottom: 20px;
}
.container header::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 35px;
    background-color: #31A463;
}

.container form {
    position: relative;
    height: 450px;
}

.container .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-fields {
    flex: 1;
    margin: 0 10px;
}

.input-fields label {
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

.input-fields input {
    width: 100%;
    height: 30px;
    border-radius: 2rem;
    padding-left: 10px;
    border: 2px solid #31A463;
}
.midfield {
    padding-top: 10px;
}
.midfield input {
    width: 30.7%;
}
.bookfield {
    padding-top: 50px;
}
.bookfield-second,
.bookfield-third,
.bookfield-fourth {
    padding-top: 10px;
    display: flex;
    width: 100%;
}
.btn {
    position: absolute;
    left: 78%;
    top: 93%;
    cursor: pointer;
    width: 20%;
    border: none;
    border-radius: 2rem;
    padding: 15px;
    background-color: #31A463;
    color: #ffffff;
}
.btn:hover {
    background-color: #013718;
}